.canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #303030;
}

.titleText {
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  display: flex;

}

.canvas {
  border: 1px solid #000;
  cursor: crosshair;
  background-color: white;
  margin: 20px;
}

label {
  background-color: rgb(239, 72, 222);
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

label:hover {
  background-color: rgb(182, 48, 169);
}

button{
    background-color: rgb(239, 72, 222);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }

  button:hover{
    background-color: rgb(182, 48, 169);
  }


.colorContainer {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;

}

.hoveredColor,
.pickedColor {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.hoveredColorPreview {
    position: absolute;
    height: 20px;
    width: 20px;
    pointer-events: none;
    z-index: 9999;
    border: 0.1px solid #000;
  }
  
  .squareLeft {
    left: -30px;
    top: -10px;
  }
  
  .squareTop {
    left: -10px;
    top: -30px;
  }
  
  .squareRight {
    left: 10px;
    top: -10px;
  }
  
  .squareBottom {
    left: -10px;
    top: 10px;
  }
  
  .squareCenter {
    left: -10px;
    top: -10px;
  }
  
  
  

.hoveredColorSpan {
  margin-left: 25px;
  background-color: #fff;
}