.canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas {
  border: 1px solid #000;
  cursor: crosshair;
}

.colorContainer {
  display: flex;
  margin-top: 10px;
}

.hoveredColor,
.pickedColor {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
